.checkout caption {
  display: block;
  font-weight: bold;
  text-align: start;
  margin-bottom: 15px;
}

.checkout table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.checkout td,
.checkout th,
.checkout tr {
  border: 1px solid #b3b3b3;
  text-align: left;
  padding: 8px;
}

.checkout tr:nth-child(even) {
  background-color: #e9e9e9;
}

.checkout tfoot tr {
  background-color: #a0a0a0;
  font-weight: bold;
}
.checkout tfoot tr td {
  height: 50px;
}

.table-price {
  width: 100px;
}

.checkout-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.checkout-buttons button {
  transition: 300ms ease;
}

.checkout-buttons .clear-all-produts-btn {
  background-color: #e74c3c;
}

.checkout-buttons .payment-btn {
  background-color: green;
}
.checkout-buttons .clear-all-produts-btn:hover {
  background-color: #cf200d;
}

.checkout-buttons .payment-btn:hover {
  background-color: rgb(1, 90, 1);
}
