.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 50%;
  min-width: 350px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
}

.contact-form input {
  padding: 20px 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
