.header {
  align-items: center;
  padding: 5px 30px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(255, 211, 188, 0.4);
  border-radius: 100px;
  margin-top: 30px;
  border: 2px solid #ffd3bc91;
  margin-bottom: 50px;
  position: sticky;
  top: 20px;
  z-index: 2;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f1f1f1;
  margin: 0 0 10px;
  padding-top: 10px;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}

nav a {
  padding: 5px 10px;
  border-radius: 5px;
  transition: 300ms ease;
  font-weight: bold;
}

nav a:hover {
  background-color: #ffd3bc;
  transition: 300ms ease;
}

.logo {
  display: flex;
  text-decoration: none;
  color: #333;
}

.logo img {
  width: 100px;
}

.logo-text p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: -5px;
}

.logo-text span {
  font-size: 1rem;
  font-weight: normal;
  color: #777;
}

.icon {
  font-size: 28px;
  margin-right: 5px;
  color: #333;
  animation: fadeEffect 300ms;
  cursor: pointer;
  transition: 300ms ease;
}

.header .icon:hover,
#cart:hover .cart-total-quantity {
  color: #fc8d52 !important;
}

#cart {
  position: relative;
}

#cart .icon {
  position: inherit;
  z-index: 99 !important;
}

#cart .cart-total-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  position: absolute;
  top: 6px;
  right: 7px;
  font-size: 11px;
  font-weight: bold;
  transition: 300ms ease;
}

.cart-total-quantity.animate {
  animation: pulse 1s ease forwards;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(252, 141, 82, 1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(252, 141, 82, 0);
  }
}

/* DARK */
.dark .header {
  background-color: #242727;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  border: 2px solid #333;
}

.dark .logo {
  color: #fff;
}

.dark nav a {
  color: #fff;
}

.dark .icon {
  color: #fff;
}

.dark nav a:hover {
  color: #333;
}
