.cart-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-div > * {
  flex: 1;
}

.row {
  justify-self: center;
  max-width: 300px;
  width: 300px;
}

.cart-div form input {
  width: 100%;
  margin: 10px 0 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.payment .pay-btn {
  margin-top: 10px;
  width: 100%;
  background-color: #44bd32;
  font-weight: bold;
  padding: 7px 0;
  font-size: 15px;
  transition: 300ms ease;
}

.payment .pay-btn:hover {
  background-color: #1ba106;
}

@media screen and (max-width: 768px) {
  .cart-div {
    flex-direction: column;
  }
}
